@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
/* Navbar.js */
.NavContainer {
  display: flex !important;
  justify-content: center !important;
  align-items: baseline !important;
  margin-top: 20px;
  height: 90px;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.sandwitchMeun {
  display: none;
  cursor: pointer;
}

.logo {
  height: 22px;
}

.avatar {
  height: 50px;
  margin-left: 20px !important;
}

.avatar:hover {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
}

.nav-part1 {
  margin-left: 25px;
  font-size: 16px;
  height: 80px;
}

.nav-part1--margin {
  margin-right: 20px;
}

.nav-part1--margin:hover {
  border-bottom: 5px solid hsl(26, 100%, 55%);
}
.nav-part2 {
  display: flex !important;
  justify-content: center !important;
  align-items: baseline !important;
}

.Navbar__label {
  position: relative;
  bottom: 25px;
  left: 10px;
  background-color: hsl(26, 100%, 55%);
  border-radius: 5px;
  width: 16px;
  height: 12px;
  color: white;
  display: grid;
  place-items: center;
  font-size: 8px;
}

.Navbar__cart {
  cursor: pointer;
}

/* Cards.js */
.Image_big {
  border-radius: 12px !important;
  height: 330px;
}
.Image_sm {
  border-radius: 8px !important;
  width: 100%;
  display: block !important;
  cursor: pointer;
}
.Image_sm--hover:hover {
  opacity: 0.5;
}

.cardsContainer {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
}
.myRow {
  margin-bottom: 1rem;
}

.Cards_sm_Row {
  width: 340px;
}
.Image--border {
  border-radius: 12px !important;
  border: 3px solid hsl(26, 100%, 55%);
}

.Image--active {
  opacity: 0.3;
}

.counterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
}
.counterContainer p {
  margin-bottom: 0 !important;
}

.mainContentContainer {
  width: 100vw;
  height: 80vh;
  display: grid;
  place-items: center;
}

/* CartModal.js */
.CartModal__Title {
  font-size: 16px !important;
  font-weight: bold !important;
}
.CartModal {
  position: absolute;
  top: 65px;
  right: 100px;
  width: 320px;
}

.CartModal__Modal {
  box-shadow: 5px 10px 28px -10px hsl(0, 0%, 69%);
  border-radius: 20px !important;
}

/* Change UI CSS */
.modal-content {
  border: none !important;
}

.CartModal__checkoutButton {
  margin: 0 18px 20px !important;
  padding: 10px 0 !important;
  background-color: hsl(26, 100%, 55%) !important;
  border: none !important;
  font-size: 13px !important;
}
.CartModal--empty {
  text-align: center;
  padding: 60px 20px;
  font-size: 14px;
  font-weight: bold;
  color: gray;
}

/* ModalItem.js */
.ModalItem {
  font-size: 13px;
}
.ModalItem p {
  margin-bottom: 0;
}
.ModalItem__image {
  border-radius: 5px !important;
  width: 40px;
  margin-right: 10px;
}

.ModalItem__Col {
  align-self: center !important;
  justify-content: center !important;
  padding: 0 !important;
}
.ModalItem__Col p {
  margin-left: 10px;
}
.icon--delete {
  cursor: pointer;
}

/* Details.js */
.detailsContainer {
  padding-top: 20px;
}
.text {
  margin-bottom: 20px;
}
.text__label {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
.text__title {
  font-weight: bold;
  padding-right: 100px !important;
  margin-bottom: 20px;
}
.text__body {
  font-size: 16px;
  color: grey;
  font-weight: 400;
}

.price {
  display: flex;
}
.price p {
  margin-bottom: 0 !important;
}
.price__number {
  font-weight: bold;
  font-size: 20px;
}

.price__label {
  color: hsl(26, 100%, 55%);
  background-color: hsl(26, 88%, 90%);
  font-weight: bold;
  margin-left: 10px;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 10px;
  align-self: center;
}
.price__before {
  text-decoration: line-through;
  color: rgb(156, 156, 156);
  font-size: 12px;
  font-weight: bold;
}

.AddToCartButton {
  background-color: hsl(26, 100%, 55%) !important;
  border: none !important;
  font-size: 13px !important;
  padding: 12px 55px !important;
  box-shadow: 5px 10px 28px -10px hsl(26, 100%, 76%);
  align-items: center !important;
}

.AddToCartButton img {
  width: 16px;
  margin-right: 10px;
  align-self: center !important;
}

.AddToCartButton:hover {
  background-color: hsl(27, 100%, 67%) !important;
}

/* Mobile Size */
@media screen and (max-width: 575px) {
  /* Navbar.js */
  .nav-part1 {
    display: none !important;
  }

  .myNav {
    padding: 0 !important;
    width: 100%;
  }

  .NavContainer {
    justify-content: space-between !important;
    align-items: center !important;
    margin-top: 0;
    height: 80px;
    border-bottom: none;
    background-color: rgb(240, 239, 239);
  }

  .sandwitchMeun {
    display: inline;
  }
  .logo {
    height: 18px;
  }

  .avatar {
    height: 30px;
    margin-left: 5px !important;
  }
  .Navbar__cart img {
    height: 17px;
  }
  .Navbar__label {
    bottom: 22px;
    left: 7px;
    width: 14px;
    height: 10px;
    font-size: 6px;
  }
  .sandwitchNav__links {
    display: flex;
    flex-direction: column !important;
    font-weight: bold;
  }
  .sandwitchNav__Container {
    width: 50% !important;
  }
  /* Cards.js */
  .mainContentContainer{
    margin-top: 2.5em;
  }

  /* Details.js */
  .AddToCartButton {
    width: 100%;
    margin: 15px 0;
    padding: 15px 0 !important;
  }
  .counterContainer {
    padding: 15px 0;
  }
  .addToCart__Col {
    padding: 0 !important;
  }

  /* CartModal.js */
  .CartModal {
    top: 80px;
    right: 0;
    left: 0;
    width: 100% !important;
  }
  /* ModalItem.js */
  .ModalItem__Col {
    width: initial !important;
  }
}

/* Large Screen */
@media screen and (min-width: 1400px) {
  /* Cards.js */
  .Image_big {
    height: 420px;
  }
  .Cards_sm_Row {
    width: 430px;
  }
  /* Details.js */
  .detailsContainer {
    padding-top: 40px;
  }
  .text__title{
    font-size: 40px !important;
  }
  .text{
    padding-right:100px;
  }
  .detailsContainer {
    padding-top: 60px;
  }
}
