@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  display: flex !important;
  justify-content: center !important;
  align-items: baseline !important;
  margin-top: 20px;
  height: 110px;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.logo {
  height: 25px;
}

.avatar {
  height: 65px;
  margin-left: 40px !important;
}

.nav-part1 {
  margin-left: 30px;
  font-size: 19px;
}

.nav-part1--margin {
  margin-right: 20px;
}

.nav-part2 {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
